html * {
    font-family: Ubuntu, sans-serif;
}
.home-container {
    background-color: rgb(252, 248, 248);
    }

.navbar {
    background-color: white;
    box-shadow: 2px 2px 2px #aaaaaa;
    padding: 1%;
    }

.patients {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    margin: 3% 1%;
    padding: 1%;
    color: rgb(138, 136, 136);
    font-size: 11px;
}
.patients:hover {
     transition: 0.6s;
     background-color: rgb(247, 244, 244);
}
.infected, .activeCase, .recovered, .deceased {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.main-page-container {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    margin: 1%;
    padding: 1%;
    }

footer {
    font-size: 11px;
    text-align: right;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    padding-right: 4%;
    bottom: 0;
    position: fixed;
    width: 100%;
}    
.home-fourth-line {
    width: 60%;
    height: 750px;
    margin: 0 auto !important;
}